<div class="scrollable">
	<div class="scrollable-content section">
		<div class="row text-center">
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="/a" class="thumbnail well">运动员列表</a>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="/b" class="thumbnail well">比赛列表</a>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<a href="/c" class="thumbnail well">员工管理</a>
			</div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="/d" class="thumbnail well">角色管理</a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="/e" class="thumbnail well">比赛纪录</a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                <a href="/f" class="thumbnail well">系统管理</a>
            </div>
		</div>
	</div>
</div>