<div ui-content-for="title">
	<span>角色管理</span>
</div>
<div ui-content-for="navbarRight">
	<div class="btn-group pull-right">
        <button class="btn" ui-turn-on="roleForm" ng-click="add()" xx-permission="p_post_role">
            <i class="fa fa-plus"></i>
        </button>
		<button class="btn" ui-toggle="uiSidebarRight" xx-permission="p_get_role">
			<i class="fa fa-filter"></i>
		</button>
	</div>
</div>
<div ui-content-for="sidebarRight">
	<form name="filterForm" ng-submit="reload()">
		<fieldset>
			<div class="form-group">
				<label>关键字</label> <input type="text" ng-model="input_keyword" class="form-control" placeholder="手机号/姓名">
			</div>
		</fieldset>
		<button class="btn btn-primary btn-lg btn-block" ui-turn-off="uiSidebarRight">刷新列表</button>
	</form>
</div>
<div class="scrollable">
	<div class="scrollable-header section">
		<div class="panel panel-title panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-4">角色名</div>
					<div class="col-xs-8">描述</div>
				</div>
			</div>
		</div>
	</div>
	<div class="scrollable-content section" ui-scroll-bottom="page.next()">
		<div class="text-center fa-5x xj-vertical-center text-primary" ng-show="page.elements.length==0">
			<span class="fa fa-refresh" ng-hide="isLoading" ng-click="reload()"></span> <span class="fa fa-spinner fa-spin loading-spinner" ng-show="isLoading"></span>
		</div>
		<div class="panel-group" ng-show="page.elements.length>0">
			<div class="panel panel-default" ng-repeat="e in page.elements">
				<div class="panel-heading" ng-click="selected==$index?selected=null:selected=$index">
					<div class="row">
						<div class="col-xs-4">
                            <span>{{e.name}}</span>
                        </div>
						<div class="col-xs-7">
                            <span>{{e.description}}</span>
                        </div>
					</div>
				</div>
				<div class="panel-body" ng-show="selected==$index">
					<div class="row">
						<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center">
							<button class="btn btn-primary" ui-turn-on="resList" ng-click="configRes(e)" xx-permission="p_get_role_r_res">关联资源</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<button class="btn btn-block btn-primary scrollable-footer" ng-disabled="!page.hasNext()||isLoading" ng-click="page.next()">
		<span class="fa fa-arrow-down" ng-if="!isLoading">更多 ({{page.elements.length}}/{{page.lastPayload.totalElements}})</span><i class="fa fa-spinner fa-spin fa-lg loading-spinner" ng-if="isLoading"></i>
	</button>
</div>

<div ui-content-for="modals">
	<div class="modal modal-overlay scrollable" ui-if="resList" ui-state="resList">
		<div class="scrollable-header">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" ui-turn-off="resList" ng-disabled="isLoading">&times;</button>
						<h4 class="modal-title col-md-offset-2">配置资源</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="scrollable-content">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body xj-padding0">
						<div class="text-center fa-5x text-primary" ng-show="resListArray.length==0&&isLoading" class="loading app-content-loading">
							<span class="fa fa-spinner fa-spin loading-spinner"></span>
						</div>
						<div class="list-group col-xs-6 col-md-offset-2 col-md-4">
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <span>已选中资源</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <a ng-repeat="res in resListArray[0]" class="list-group-item list-group-item-success" ng-click="exclude(res)">{{res.name}} </a>
                                </div>
                            </div>
						</div>
						<div class="list-group col-xs-6 col-md-4">
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <span>所有资源</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <a ng-repeat="res in resListArray[1]" class="list-group-item list-group-item-danger" ng-click="include(res)">{{res.name}} </a>
                                </div>
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="scrollable-footer">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-footer">
						<div class="col-xs-6 col-md-offset-2 col-md-4">
							<button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="isLoading" ng-click="saveRoleRes()" xx-permission="p_add_role_r_res">保存</button>
						</div>
						<div class="col-xs-6 col-md-4">
							<button type="reset" class="btn btn-default btn-lg btn-block" ui-turn-off="resList" ng-disabled="isLoading">取消</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="modal modal-overlay scrollable" ui-if="roleForm" ui-state="roleForm">
        <div class="scrollable-header">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" ui-turn-off="roleForm" ng-disabled="isLoading">&times;</button>
                        <h4 class="modal-title">{{modalTitle}}</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="scrollable-content">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <form name="roleForm" ng-submit="saveRole()" novalidate>
                            <div class="row">
                                <div class="form-group col-xs-12 col-md-8 col-md-offset-2" ng-class="{ 'has-error':roleForm.name.$invalid && !roleForm.name.$pristine }">
                                    <span class="text-danger">*</span> <label>角色名</label> <span class="text-info">(确保唯一，中文2-16个字)</span>
                                    <input type="text" class="form-control" name="name" ng-model="role.name" placeholder="请输入角色名" required ng-pattern="/^[\u4E00-\u9FA5]{2,16}$/" />
                                </div>
                                <div class="form-group col-xs-12 col-md-8 col-md-offset-2" ng-class="{ 'has-error':roleForm.description.$invalid && !roleForm.description.$pristine }">
                                    <label>角色描述</label> <span class="text-info">(选填，最多64个字符)</span>
                                    <input type="text" class="form-control" name="description" ng-model="role.description" placeholder="请输入角色描述" ng-maxlength="64" />
                                </div>
                                <div class="form-group col-xs-12 col-md-8 col-md-offset-2">
                                    <div class="col-xs-6">
                                        <button type="submit" class="btn btn-primary btn-lg btn-block" ng-disabled="roleForm.$invalid||isLoading">保存</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <button type="reset" class="btn btn-default btn-lg btn-block" ui-turn-off="roleForm" ng-disabled="isLoading">取消</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


