<div ui-content-for="title">
	<span>修改密码</span>
</div>
<div ui-content-for="navbarRight">
	<div class="btn-group pull-right">
		<button class="btn" ng-click="changePwd()" ng-disabled="!pwdForm.$valid">
			<i class="fa fa-save">更新密码</i>
		</button>
	</div>
</div>
<div class="scrollable">
	<div class="scrollable-content section">
		<form name="pwdForm" ng-submit="changePwd()">
			<fieldset>
				<div class="form-group col-xs-12 col-md-6 col-md-offset-3">
					<label>当前密码</label> <input type="password" ng-model="oldPwd" class="form-control input-lg" placeholder="请输入您的当前密码" required>
				</div>
				<div class="form-group col-xs-12 col-md-6 col-md-offset-3">
					<label>新密码</label> <input type="password" ng-model="newPwd" class="form-control input-lg" placeholder="请输入新密码(8位以上，字母+数字组合)" required ng-minlength="8">
				</div>
				<div class="form-group col-xs-12 col-md-6 col-md-offset-3">
					<label>确认新密码</label> <input type="password" ng-model="newPwdRpt" class="form-control input-lg" placeholder="请重复新密码" required ng-minlength="8">
				</div>
			</fieldset>
			<hr>
			<button class="btn btn-primary btn-block btn-lg col-xs-12 col-md-6 col-md-offset-3" ng-disabled="!pwdForm.$valid">更新密码</button>
		</form>
	</div>
</div>