<div class="scrollable">
	<div class="scrollable-content section">
		<div class="row text-center">
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" xx-permission="p_get_counselor">
				<a href="/console/cnslr/counselor_list" class="thumbnail well">咨询师列表</a>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" xx-permission="p_get_counselor_apply">
				<a href="/console/cnslr/counselor_apply_list" class="thumbnail well">咨询师审批</a>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" xx-permission="p_get_staff">
				<a href="/console/sys/staff_list" class="thumbnail well">员工管理</a>
			</div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" xx-permission="p_get_role">
                <a href="/console/sys/role_list" class="thumbnail well">角色管理</a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" xx-permission="p_get_consult_record">
                <a href="/console/consult/consult_list" class="thumbnail well">咨询记录查询</a>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" xx-permission="p_get_counselor_account_flow">
                <a href="/console/cnslr/withdraw_list" class="thumbnail well">提现申请</a>
            </div>
		</div>
	</div>
</div>